/* 
  This clause blocks transitions and animations in the target browser.
  Animations and transitions should be avoided during screenshot capture.
  They cause inconsistencies that will produce red herrings in the image
  diff workflow.
*/

*,
*::after,
*::before {
  transition-delay: 0s !important;
  transition-duration: 0s !important;
  animation-delay: -0.0001s !important;
  animation-duration: 0s !important;
  animation-play-state: paused !important;
  caret-color: transparent !important;
}

/*
  The locator is set to 0px / 0px so it's not visible on the page. Relative
  position is used so that the locator moves with the content when the page 
  scrolls.
*/

.userdocs-locator{
  position: relative; 
  width: 0;
  height: 0;
}

/*
  Absolute position is used so that the mask doesn't collide with or rearrange
  other elements on the page. `display: flex` isn't necessary but makes it nice
  when working with flex layouts.
*/

.userdocs-mask{
  position: absolute;
  display: flex;
}

/* 
  See Martin Bing's excellent article on [How to create: The Perfect Badge](https://medium.com/@MartinBing/css-how-to-create-the-perfect-badge-4b5239f10a8a?)
  to see my inspiration for this class.
*/

.userdocs-badge {
  /* Makes the badge float to the left of the mask, doesn't always work */
  float: left; 

  /* Flex is not required, but makes annotations play nicer with flex layouts */
  display: inline-flex;

  /* Pushes the text to the center of the badge */
  justify-content: center;
  align-items: center;

  /* Prevents rearrangement of other on-page elements */
  position: absolute;

  /* Centers the badge around the point it's placed on */
  transform:translate(-50%, -50%);

  /* Colors the text on the badge, and the badge itself (respectively) */
  color: #fff;
  background-color: #7FBE7F;

  /* Defines the default font size, the size of the badge changes based on this value */
  font-size: 24px;

  /* Makes the badge a circle */
  border-radius: 50%;

  /* See martin's article for more information */
  padding: 10px;
  min-width: 1em; 
  padding: .3em; 

  /* Helps with centering the text */
  line-height: 0;
}
.userdocs-badge::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
/* 
  Not much magic here. We just set the outline properties, and use absolute positioning.
*/
.userdocs-outline{
  position: absolute;
  outline-width: 4px;
  outline-color: #7FBE7F;
  outline-style: solid;
}
